[Unit]
Description=E Paper Calendar with iCal sync and live weather

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/E-Paper-Master/Calendar/stable.py

[Install]
WantedBy=multi-user.target

