pillow~=12.2.0
python-dotenv~=1.2.2
arrow~=1.4.0
requests~=2.34.2
tzlocal~=5.4.3
numpy~=2.5.0
icalendar~=7.2.0
python-dateutil~=2.9.0.post0
feedparser~=6.0.12
xkcd~=2.4.2
yfinance~=1.5.1
certifi>=2024.8.30
todoist_api_python~=4.0.0
recurring-ical-events~=3.8.2
matplotlib~=3.11.0
selenium~=4.38.0
segno~=1.6.6
