pillow~=12.0.0
python-dotenv~=1.2.1
arrow~=1.4.0
requests~=2.32.5
tzlocal~=5.3.1
numpy~=2.3.5
icalendar~=6.3.2
python-dateutil~=2.9.0.post0
asyncio~=4.0.0
feedparser~=6.0.12
xkcd~=2.4.2
yfinance~=0.2.66
htmlwebshot~=0.1.2
todoist_api_python~=3.1.0
recurring-ical-events~=3.8.0