ical_urls = ["https://calendar.google.com/calendar/ical/en.usa%23holiday%40group.v.calendar.google.com/public/basic.ics"]
rss_feeds = ["http://feeds.bbci.co.uk/news/world/rss.xml#"]
update_interval = "60"
additional_feature = "events"
api_key = ""
location = "Stuttgart, DE"
week_starts_on = "Monday"
events_max_range = "60"
calibration_hours = [0,12,18]
display_colours = "bwr"
language = "en"
units = "metric"
hours = "24"
