<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        {% if title %} <title>{{ title }}</title>
        {% else %} <title>Inkycal</title> {% endif %}

        <style>     body { background-color: #eaeaea; }     </style>

    </head>


    <body>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

        <div class="container">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">

                        <li class="nav-item">
                            <a class="nav-link" href="/index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/inkycal-config-v2-0-0">Create settings file</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/setup_wifi">Setup Wifi</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/create_ssh">Setup SSH</a>
                        </li>

                    </ul>
                </div>
            </div>

            <!-- show flashed messages-->
            <hr>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                    {% endif %}
                    {% endwith %}
            </hr>
      </div>

        {% block content %}{% endblock %}
    </body>
</html>
