name: Test on Raspberry Pi OS

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
      branches: [main]
jobs:
  test-on-rpi-os:
    name: Run Tests on Raspberry Pi OS
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Build Raspberry Pi OS
        uses: pguyot/arm-runner-action@v2
        id: build_image
        env:
          INKY_INITAL_PASSWORD: ${{ secrets.INKY_INITAL_PASSWORD }}
          OPENWEATHERMAP_API_KEY: ${{ secrets.OPENWEATHERMAP_API_KEY }}
          SAMPLE_ICAL_URL: ${{ secrets.SAMPLE_ICAL_URL }}
          TEST_ICAL_URL: ${{ secrets.TEST_ICAL_URL }}
          TODOIST_API_KEY: ${{ secrets.TODOIST_API_KEY }}
          TINDIE_API_KEY: ${{ secrets.TINDIE_API_KEY }}
          TINDIE_USERNAME: ${{ secrets.TINDIE_USERNAME }}
        with:
          # Set the base_image to the desired Raspberry Pi OS version
          base_image: https://downloads.raspberrypi.com/raspios_lite_armhf/images/raspios_lite_armhf-2025-11-24/2025-11-24-raspios-trixie-armhf-lite.img.xz
          image_additional_mb: 3072 # enlarge free space to 3GB
          optimize_image: true
          commands: |
            cd /home
            sudo useradd -m -p "$(openssl passwd -1 $INKY_INITAL_PASSWORD)" inky
            sudo usermod -a -G adm,dialout,cdrom,sudo,audio,video,plugdev,games,users,input,netdev,gpio,i2c,spi inky
            sudo su inky
            echo $HOME
            whoami
            cd /home/inky
            sudo apt-get update -y
            # sudo apt-get install git zlib1g libjpeg-dev libatlas-base-dev rustc libopenjp2-7 python-dev-is-python3 scons libssl-dev python3-venv python3-pip git libfreetype6-dev wkhtmltopdf libopenblas-dev build-essential libxml2-dev libxslt1-dev python3-dev -y
            sudo apt-get install git python3-dev python3-setuptools zlib1g-dev libjpeg-dev libffi-dev libopenblas-dev libopenjp2-7 wkhtmltopdf -y
            echo $PWD && ls
            git clone -b main --single-branch https://github.com/aceinnolab/Inkycal 
            cd Inkycal
            # in trixie, defaults to python 3.13
            python3 -m venv venv
            . venv/bin/activate
            # python packages for armv6 often do not have wheels, as a result, numpy, matplotlib etc. can easily take several hours to build
            # to ensure we don't reach the max timeout for GitHub Actions and making it faster to install Inkycal, we're depending on piwheels
            # for the wheels we need
            pip install --upgrade pip wheel setuptools --index-url https://www.piwheels.org/simple --extra-index-url https://pypi.org/simple
            pip install -e . --index-url https://www.piwheels.org/simple --extra-index-url https://pypi.org/simple
            pip install spidev==3.7 lgpio==0.2.2.0  --index-url https://www.piwheels.org/simple --extra-index-url https://pypi.org/simple
            wget https://raw.githubusercontent.com/aceinnolab/Inkycal/assets/tests/settings.json
            pip install pytest
            python -m pytest 
