name: build

on:
  workflow_dispatch:

jobs:
  test-on-arm:
    name: Update OS
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Build Raspberry Pi OS
        uses: pguyot/arm-runner-action@v2
        id: build_image
        env:
          INKY_INITAL_PASSWORD: ${{ secrets.INKY_INITAL_PASSWORD }}
          OPENWEATHERMAP_API_KEY: ${{ secrets.OPENWEATHERMAP_API_KEY }}
          SAMPLE_ICAL_URL: ${{ secrets.SAMPLE_ICAL_URL }}
          TEST_ICAL_URL: ${{ secrets.TEST_ICAL_URL }}
          TODOIST_API_KEY: ${{ secrets.TODOIST_API_KEY }}
          TINDIE_API_KEY: ${{ secrets.TINDIE_API_KEY }}
          TINDIE_USERNAME: ${{ secrets.TINDIE_USERNAME }}
        with:
          # Set the base_image to the desired Raspberry Pi OS version - current version: Nov 2025 (Trixie)
          base_image: https://downloads.raspberrypi.com/raspios_lite_armhf/images/raspios_lite_armhf-2025-11-24/2025-11-24-raspios-trixie-armhf-lite.img.xz
          image_additional_mb: 3072 # enlarge free space to 3 GB
          optimize_image: true
          commands: |
            cd /home
            sudo useradd -m -p "$(openssl passwd -1 $INKY_INITAL_PASSWORD)" inky
            sudo usermod -a -G adm,dialout,cdrom,sudo,audio,video,plugdev,games,users,input,netdev,gpio,i2c,spi inky
            sudo su inky
            echo $HOME
            # get kernel info
            uname -srm
            cd /home/inky
            sudo apt-get update -y
            sudo apt-get install git python3-dev python3-setuptools zlib1g-dev libjpeg-dev libffi-dev libopenblas-dev libopenjp2-7 wkhtmltopdf rustc build-essential libssl-dev -y
            
            echo $PWD && ls
            git clone https://github.com/aceinnolab/Inkycal 
            cd Inkycal
            # in trixie, defaults to python 3.13
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pip wheel setuptools --index-url https://www.piwheels.org/simple --extra-index-url https://pypi.org/simple
            pip install -e . --index-url https://www.piwheels.org/simple --extra-index-url https://pypi.org/simple
            pip install -r raspberry_os_requirements.txt --index-url https://www.piwheels.org/simple --extra-index-url https://pypi.org/simple
            
            #334 & #335. TODO: check if 12.48" stuff is still required
            # git clone https://github.com/WiringPi/WiringPi
            # cd WiringPi
            # ./build
            # cd ..
          
            # TODO: check if still required
            # specific hacks to get this running on newer kernels, see #387. Special thanks to pbarthelemy
            # wget  https://github.com/aceinnolab/Inkycal/raw/refs/heads/assets/hosting/pcre2-10.44.tar.bz2
            # bzip2 -d pcre2-10.44.tar.bz2
            # tar -xf pcre2-10.44.tar
            # cd pcre2-10.44/
            # ./configure && make && sudo make install && make clean
            # cd ..
            # wget https://github.com/aceinnolab/Inkycal/raw/refs/heads/assets/hosting/swig-4.3.0.tar
            # tar -xf swig-4.3.0.tar
            # cd swig-4.3.0/
            # ./configure && make && sudo make install && make clean
            # cd ..
            # wget https://github.com/aceinnolab/Inkycal/raw/refs/heads/assets/hosting/lg.zip
            # unzip lg.zip
            # cd lg
            # make && sudo make install && make clean
            # cd ..
            # pip install rpi-lgpio
            # hacks section end

            # wget https://raw.githubusercontent.com/aceinnolab/Inkycal/assets/tests/settings.json

            # install deps for 12.48" display
            wget https://github.com/aceinnolab/Inkycal/raw/assets/tests/bcm2835-1.71.tar
            tar -xf bcm2835-1.71.tar
            cd bcm2835-1.71/
            sudo ./configure && sudo make && sudo make check && sudo make install
            cd ..
            # cleanup
            rm bcm2835-1.71.tar
            echo $CWD

            # enable SPI - SPI enabled via user-data file in bootfs
            # sudo sed -i s/#dtparam=spi=on/dtparam=spi=on/ /boot/config.txt

            # enable inkycal start at boot
            sudo -u inky bash -c 'echo "@reboot sleep 60 && cd /home/inky/Inkycal && venv/bin/python inky_run.py &" | crontab -'
            sudo chown inky:crontab /var/spool/cron/crontabs/inky

            # fix permissions of Inkycal folder recursively
            sudo chown -R inky:inky /home/inky/Inkycal

            # allow some time to unmount
            sleep 10

      - name: Compress the release image
        run: |
          # allow some time to unmount
          sleep 10
          mv ${{ steps.build_image.outputs.image }} InkycalOS_Lite.img
          xz -0 -T 0 -v InkycalOS_Lite.img

      - name: Get latest release version
        run: |
          export tag="$(curl -s https://api.github.com/repos/aceinnolab/Inkycal/releases/latest | jq -r '.tag_name')"
          echo "version=${tag}" >> $GITHUB_ENV

      - name: Upload Raspberry Pi OS Image
        if: success()  # Only upload the image if the tests were successful
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.version }}
          files: InkycalOS_Lite.img.xz
